<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.ExpenseclassMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.model.Expenseclass" >
    <id column="EXCLASS_ID" property="exclassId" jdbcType="INTEGER" />
    <result column="EXCLASS_INFO" property="exclassInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EXCLASS_ID, EXCLASS_INFO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.model.ExpenseclassExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from expenseclass
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from expenseclass
    where EXCLASS_ID = #{exclassId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from expenseclass
    where EXCLASS_ID = #{exclassId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.model.ExpenseclassExample" >
    delete from expenseclass
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.model.Expenseclass" >
    insert into expenseclass (EXCLASS_ID, EXCLASS_INFO)
    values (#{exclassId,jdbcType=INTEGER}, #{exclassInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.model.Expenseclass" >
    insert into expenseclass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="exclassId != null" >
        EXCLASS_ID,
      </if>
      <if test="exclassInfo != null" >
        EXCLASS_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="exclassId != null" >
        #{exclassId,jdbcType=INTEGER},
      </if>
      <if test="exclassInfo != null" >
        #{exclassInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.model.ExpenseclassExample" resultType="java.lang.Integer" >
    select count(*) from expenseclass
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update expenseclass
    <set >
      <if test="record.exclassId != null" >
        EXCLASS_ID = #{record.exclassId,jdbcType=INTEGER},
      </if>
      <if test="record.exclassInfo != null" >
        EXCLASS_INFO = #{record.exclassInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update expenseclass
    set EXCLASS_ID = #{record.exclassId,jdbcType=INTEGER},
      EXCLASS_INFO = #{record.exclassInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.model.Expenseclass" >
    update expenseclass
    <set >
      <if test="exclassInfo != null" >
        EXCLASS_INFO = #{exclassInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where EXCLASS_ID = #{exclassId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.Expenseclass" >
    update expenseclass
    set EXCLASS_INFO = #{exclassInfo,jdbcType=VARCHAR}
    where EXCLASS_ID = #{exclassId,jdbcType=INTEGER}
  </update>
</mapper>