<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lz.dao.StationMapper" >
  <resultMap id="BaseResultMap" type="com.lz.model.Station" >
    <id column="station_id" property="stationId" jdbcType="INTEGER" />
    <result column="trainNum" property="trainnum" jdbcType="VARCHAR" />
    <result column="station" property="station" jdbcType="VARCHAR" />
    <result column="outTime" property="outtime" jdbcType="VARCHAR" />
    <result column="dayTime" property="daytime" jdbcType="INTEGER" />
    <result column="statiPrice" property="statiprice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    station_id, trainNum, station, outTime, dayTime, statiPrice
  </sql>
  
  
  <select id="findByStation" resultMap="BaseResultMap" parameterType="com.lz.model.Station">
  	 select * from Station where trainNum = #{trainnum} and station = #{station}
  </select>
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lz.model.StationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from station
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from station
    where station_id = #{stationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from station
    where station_id = #{stationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lz.model.StationExample" >
    delete from station
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lz.model.Station" >
    insert into station (station_id, trainNum, station, 
      outTime, dayTime, statiPrice
      )
    values (#{stationId,jdbcType=INTEGER}, #{trainnum,jdbcType=VARCHAR}, #{station,jdbcType=VARCHAR}, 
      #{outtime,jdbcType=VARCHAR}, #{daytime,jdbcType=INTEGER}, #{statiprice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lz.model.Station" >
    insert into station
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="trainnum != null" >
        trainNum,
      </if>
      <if test="station != null" >
        station,
      </if>
      <if test="outtime != null" >
        outTime,
      </if>
      <if test="daytime != null" >
        dayTime,
      </if>
      <if test="statiprice != null" >
        statiPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="trainnum != null" >
        #{trainnum,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="outtime != null" >
        #{outtime,jdbcType=VARCHAR},
      </if>
      <if test="daytime != null" >
        #{daytime,jdbcType=INTEGER},
      </if>
      <if test="statiprice != null" >
        #{statiprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lz.model.StationExample" resultType="java.lang.Integer" >
    select count(*) from station
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update station
    <set >
      <if test="record.stationId != null" >
        station_id = #{record.stationId,jdbcType=INTEGER},
      </if>
      <if test="record.trainnum != null" >
        trainNum = #{record.trainnum,jdbcType=VARCHAR},
      </if>
      <if test="record.station != null" >
        station = #{record.station,jdbcType=VARCHAR},
      </if>
      <if test="record.outtime != null" >
        outTime = #{record.outtime,jdbcType=VARCHAR},
      </if>
      <if test="record.daytime != null" >
        dayTime = #{record.daytime,jdbcType=INTEGER},
      </if>
      <if test="record.statiprice != null" >
        statiPrice = #{record.statiprice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update station
    set station_id = #{record.stationId,jdbcType=INTEGER},
      trainNum = #{record.trainnum,jdbcType=VARCHAR},
      station = #{record.station,jdbcType=VARCHAR},
      outTime = #{record.outtime,jdbcType=VARCHAR},
      dayTime = #{record.daytime,jdbcType=INTEGER},
      statiPrice = #{record.statiprice,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lz.model.Station" >
    update station
    <set >
      <if test="trainnum != null" >
        trainNum = #{trainnum,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="outtime != null" >
        outTime = #{outtime,jdbcType=VARCHAR},
      </if>
      <if test="daytime != null" >
        dayTime = #{daytime,jdbcType=INTEGER},
      </if>
      <if test="statiprice != null" >
        statiPrice = #{statiprice,jdbcType=DOUBLE},
      </if>
    </set>
    where station_id = #{stationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lz.model.Station" >
    update station
    set trainNum = #{trainnum,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR},
      outTime = #{outtime,jdbcType=VARCHAR},
      dayTime = #{daytime,jdbcType=INTEGER},
      statiPrice = #{statiprice,jdbcType=DOUBLE}
    where station_id = #{stationId,jdbcType=INTEGER}
  </update>
</mapper>